<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Veterinary Clinic Chat</title>
    <link rel="stylesheet" th:href="@{/css/chatStyles.css}">
</head>
<body onload="connect()">
<div class="chat-window">
    <div th:each="message : ${chatMessages}" class="chat-bubble" th:class="${message.type}-bubble">
        <span th:text="${message.content}"></span>
    </div>
</div>
<div class="message-input">
    <input type="hidden" id="username" th:value="${username}">
    <input type="hidden" id="vetId" th:value="${vetId}">
    <input type="hidden" id="chatRoomId" th:value="${param.chatRoomId}">
    <input class="text-input" id="message" type="text" placeholder="Type a message...">
    <button class="submit-button">Send</button>
</div>
<script src="/js/stomp.js"></script>
<script src="/js/sockjs.min.js"></script>
<script src="/js/js.js"></script>
</body>
</html>
