<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Password Change</title>
  <link rel="stylesheet" href="/css/passwordChange.css" th:href="@{/css/passwordChange.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>Password Change</h2>
<div class="form-container">
<form th:action="@{/changePassword}" method="post">
  <input type="hidden" name="vetId" th:value="${#authentication.principal.user.id}">
  <div>
    <label for="currentPassword">Current Password:</label>
    <input type="password" id="currentPassword" name="currentPassword" required>
  </div>
  <div>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
  </div>
  <div>
    <label for="confirmPassword">Confirm New Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <span th:if="${message != null}" th:text="${message}" class="error-message"></span>
  </div>
  <div>
    <input type="submit" value="Change Password">
  </div>
</form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
