<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vet Clinic</title>
  <link rel="stylesheet" href="/css/listStyles.css" th:href="@{/css/listStyles.css}">
</head>
<body>

<div th:replace="~{/fragments/header :: header}"></div>


<main>
  <div class="container">
    <div class="vet-list">
      <h1>List of Vets</h1>
      <div class="add-vet-btn-container">
        <a th:href="@{/vets/add}">
        <button class="add-vet-btn">Add Vet</button>
        </a>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th data-sort="degree">Degree</th>
          <th data-sort="name">Name</th>
          <th data-sort="email">Email</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
          <td data-sort="degree" th:text="${vet.degree}"></td>
          <td data-sort="name" th:text="${vet.name}"></td>
          <td data-sort="email" th:text="${vet.email}"></td>
          <td>
            <a th:href="@{'/vets/edit/' + ${vet.id}}">
            <button class="edit-vet-btn">Edit</button>
            </a>
            <button class="show-records-btn">Show records</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<div th:replace="~{/fragments/footer :: footer}"></div>
<script th:src="@{/js/sortByColumn.js}"></script>
</body>
</html>
