<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Pet Owner</title>
    <link rel="stylesheet" href="/css/addOwner.css" th:href="@{/css/addOwner.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h2>Add New Pet Owner</h2>
    <form th:object="${owner}" th:action="@{/owners/save}" method="post">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" required>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="postCode">Post Code:</label>
                    <input type="text" id="postCode" th:field="*{postCode}" class="form-control">
                    <span th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="city" th:field="*{city}" class="form-control">
                    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="street">Street:</label>
                    <input type="text" id="street" th:field="*{street}" class="form-control">
                    <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="nip">NIP:</label>
                    <input type="text" id="nip" th:field="*{nip}" class="form-control">
                    <span th:if="${#fields.hasErrors('nip')}" th:errors="*{nip}" class="error"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" required>
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="extraInfo">Extra Info:</label>
                    <textarea id="extraInfo" th:field="*{extraInfo}" class="form-control"></textarea>
                    <span th:if="${#fields.hasErrors('extraInfo')}" th:errors="*{extraInfo}" class="error"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
