<!DOCTYPE html>
<html lang="en">
<header class="vet-header">
  <link th:href="@{/css/customersHeaderStyles.css}" rel="stylesheet" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <div class="vet-logo">
    <a href="/index">
      <img src="/images/logo.png" alt="Vet Clinic" style="height: 40px;">
    </a>
  </div>
  <div class="vet-buttons">
    <a th:href="@{/booking/form}"><button class="menu-button">Make an appointment</button></a>
    <a th:href="@{/selectVet}"><button class="menu-button">Chat with Veterinarian</button></a>
  </div>
</header>