<header>
  <link th:href="@{/css/headerStyles.css}" rel="stylesheet" />
  <div class="logo">
    <a th:href="@{/index}">
    <img src="logo.png" alt="Vet Clinic">
    </a>
  </div>
  <div class="user-menu">
    <div class="user-info">
      <p>Welcome, John Doe!</p>
    </div>
    <button class="menu-button">Menu</button>
    <div class="menu-options">
      <ul>
        <li><a href="/index">Main menu</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="/vets">Users</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>


<script>
  const menuButton = document.querySelector('.menu-button');
  const menuOptions = document.querySelector('.menu-options');

  menuButton.addEventListener('click', () => {
    menuOptions.classList.toggle('show-menu');
  });
</script>
</header>
