<header class="vet-header">
  <link th:href="@{/css/headerStyles.css}" rel="stylesheet" />
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
  <html>
  <div class="vet-logo">
    <a th:href="@{/index}">
      <img src="/images/logo.png" alt="Vet Clinic">
    </a>
  </div>
  <div class="user-menu">
    <div class="user-info">
      <p>Welcome, <span th:text="${#authentication.principal.user.name}"></span>!</p>
    </div>
    <button class="menu-button">Menu</button>
    <div class="menu-options">
      <ul>
        <li><a href="/index">Main menu</a></li>
        <li><a href="#">Settings</a></li>
        <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a href="/vets">Users</a></li>
        <li><a th:href="@{/chats/{id}(id=${#authentication.principal.user.id})}">Chat</a></li>
        <li>
          <a>
            <form th:action="@{/logout}" method="post">
              <input class="fa fa-id-badge" type="submit" value="Log out">
              <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
          </a>
        </li>
      </ul>
    </div>
  </div>



  <script>
  const menuButton = document.querySelector('.menu-button');
  const menuOptions = document.querySelector('.menu-options');

  menuButton.addEventListener('click', () => {
    menuOptions.classList.toggle('show-menu');
  });
</script>
  </html>
</header>
