<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Visits</title>
    <link rel="stylesheet" href="/css/visitList.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1 style="align-content: center">All Visits</h1>

<div class="medical-history-list">
    <div class="medical-history-item" th:each="visit : ${visits}">
        <div class="medical-history-item__header">
            <h2>Visit ID: <span th:text="${visit.id}"></span></h2>
            <h2>Date and Time: <span th:text="${visit.dateTimeOfVisit}"></span></h2>
        </div>
        <div class="medical-history-item__details">
            <p>Animal: <span th:text="${animalService.findById(visit.animalId)?.name ?:''} + ', ' + ${animalService.findById(visit.animalId)?.breed ?:''} + ', ' + ${animalService.findById(visit.animalId)?.dateOfBirth ?:''} + ', ' + ${animalService.findById(visit.animalId)?.gender ?:''}"></span></p>
            <p>Vet: <span th:text="${vetService.findById(visit.vetId)?.degree ?:''} + ' ' + ${vetService.findById(visit.vetId)?.name ?:''}"></span></p>
            <p>Anamnesis: <span th:text="${visit.anamnesis}"></span></p>
            <p>Vet Examination: <span th:text="${visit.vetExamination}"></span></p>
            <p>Diagnosis: <span th:text="${visit.diagnosis}"></span></p>
            <p>Used Medication: <span th:text="${visit.usedMedication}"></span></p>
            <p>Prescription: <span th:text="${visit.prescription}"></span></p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
