<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Visit Record</title>
    <link rel="stylesheet" type="text/css" href="/css/newVisit.css"/>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
    <h1>New Visit Record</h1>
    <form method="post" th:action="@{/visit/edit}">
        <input type="hidden" id="animalId" th:value="${petId}" name="animalId">
        <input type="hidden" id="historyId" th:field="${visit.id}">
        <input type="hidden" id="visitDateTime" th:field="${visit.dateTimeOfVisit}">
        <div class="form-group">
            <label for="vetId">Vet ID:</label>
            <input type="number" id="vetId" th:field="${visit.vetId}" required="required" placeholder="will be automated"/>
        </div>
        <div class="form-group">
            <label for="anamnesis">Anamnesis:</label>
            <textarea id="anamnesis" th:field="${visit.anamnesis}" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="vetExamination">Veterinary Examination:</label>
            <textarea id="vetExamination" th:field="${visit.vetExamination}" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="diagnosis">Diagnosis:</label>
            <textarea id="diagnosis" th:field="${visit.diagnosis}" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="usedMedication">Medication Used:</label>
            <textarea id="usedMedication" th:field="${visit.usedMedication}" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="prescription">Prescription:</label>
            <textarea id="prescription" th:field="${visit.prescription}" rows="5"></textarea>
        </div>
        <button type="submit" class="btn">Edit</button>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
