<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Visit Record</title>
    <link rel="stylesheet" type="text/css" href="/css/newVisit.css"/>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
    <h1>New Visit Record</h1>
    <form method="post" th:action="@{/visit/edit}" th:object="${visit}">
        <input type="hidden" id="animalId" th:value="${petId}" name="animalId">
        <input type="hidden" id="historyId" th:field="*{id}">
        <input type="hidden" id="ownerId" th:field="*{ownerId}">
        <input type="hidden" id="visitDateTime" th:field="*{dateTimeOfVisit}">
        <input type="hidden" id="vetId" th:value="${#authentication.principal.user.id}" name="vetId"/>
        <div class="form-group">
            <label for="anamnesis">Anamnesis:</label>
            <textarea id="anamnesis" th:field="*{anamnesis}" rows="5" class="form-control"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('anamnesis')}" th:errors="*{anamnesis}">Anamnesis is too long</div>
        </div>
        <div class="form-group">
            <label for="vetExamination">Veterinary Examination:</label>
            <textarea id="vetExamination" th:field="*{vetExamination}" rows="5" class="form-control"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('vetExamination')}" th:errors="*{vetExamination}">Veterinary examination is too long</div>
        </div>
        <div class="form-group">
            <label for="diagnosis">Diagnosis:</label>
            <textarea id="diagnosis" th:field="*{diagnosis}" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('diagnosis')}" th:errors="*{diagnosis}">Diagnosis is required or is too long</div>
        </div>
        <div class="form-group">
            <label for="usedMedication">Medication Used:</label>
            <textarea id="usedMedication" th:field="*{usedMedication}" rows="5" class="form-control"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('usedMedication')}" th:errors="*{usedMedication}">Medication used is too long</div>
        </div>
        <div class="form-group">
            <label for="prescription">Prescription:</label>
            <textarea id="prescription" th:field="*{prescription}" rows="5" class="form-control"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('prescription')}" th:errors="*{prescription}">Prescription is too long</div>
        </div>
        <button type="submit" class="btn">Edit</button>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
