body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 36px;
    margin: 40px 0 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

input[type=date] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 20px;
    width: 200px;
}


table tbody tr.inactive-appointment {
    background-color: rgba(255, 0, 0, 0.2);
}

table tbody tr.inactive-appointment td {
    color: #444;
}

table tbody tr.inactive-appointment button {
    display: inline-block;
}

table tbody tr.inactive-appointment button.accept {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
}

table tbody tr.inactive-appointment button.reject {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
}
