<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Appointments</title>
  <link rel="stylesheet" href="/css/addStyles.css" th:href="@{/css/appointmentsStyles.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1>Appointments for Day: <span th:text="${date + ' ' + date.dayOfWeek} "></span></h1>
<a th:href="@{/booking/appointments/create/{vetId}(vetId=${#authentication.principal.user.id})}"><button type="button">New Appointment</button></a>
<div>
  <button onclick="prevDay()">Previous Day</button>
  <input type="date" id="datepicker" value="" onchange="changeDate()">
  <button onclick="nextDay()">Next Day</button>
  <select id="vetId" name="vetId" onchange="updateSelectedVetId(this)">
    <option th:each="vet : ${availableVets}"
            th:value="${vet.id}"
            th:selected="${vet.id == vetId}">
      <span th:text="${vet.name}"></span>
    </option>
  </select>
</div>
<div th:if="${message != null}" th:text="${message}" class="message"></div>

<table>
  <thead>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Phone Number</th>
    <th>Animal Name</th>
    <th>Owner Name</th>
    <th>Message</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment : ${appointmentsForSelectedVetAndDay}"
      th:class="${appointment.isActive == 0} ? 'inactive-appointment' : ''">
    <td th:text="${#temporals.format(appointment.startDateTime, 'HH:mm')}"></td>
    <td th:text="${#temporals.format(appointment.endDateTime, 'HH:mm')}"></td>
    <td th:text="${appointment.phoneNumber}"></td>
    <td th:text="${appointment.animalName}"></td>
    <td th:text="${appointment.firstName} + ' ' + ${appointment.lastName}"></td>
    <td th:text="${appointment.message}"></td>
    <td>
      <form method="POST" th:if="${appointment.isActive == 0}" th:action="@{/booking/appointments/accept/{appointmentId}(appointmentId=${appointment.id})}">
        <button type="submit" class="accept">Accept</button>
      </form>
      <form method="POST" th:if="${appointment.isActive == 0}" th:action="@{/booking/appointments/reject/{appointmentId}(appointmentId=${appointment.id})}">
        <button th:if="${appointment.isActive == 0}" class="reject" onclick="if (confirm('Are you sure you want to reject this appointment?')) { window.location.href='/booking/appointments/reject/' + ${appointment.id}; }">Reject</button>
      </form>
      <form th:if="${appointment.isActive == 1}" th:action="@{/booking/appointments/edit/{appointmentId}(appointmentId=${appointment.id})}">
        <button type="submit" class="edit">Edit</button>
      </form>
    </td>
  </tr>

  </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>
<script src="/js/listOfAppointments.js"></script>
</body>
</html>
