<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Appointments</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1>Appointments for Day: <span th:text="${date}"></span></h1>
<div>
  <button onclick="prevDay()">Previous Day</button>
  <input type="date" id="datepicker" value="" onchange="changeDate()">
  <button onclick="nextDay()">Next Day</button>
</div>
<table>
  <thead>
  <tr>
    <th></th>
    <th th:each="vet : ${vets}" th:text="${vet.name}"></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="hour : ${hours}">
    <td th:text="${hour}"></td>
    <td th:each="vet : ${vets}">
      <div th:if="${appointments}">
        <div th:each="appointment : ${appointments}" th:if="${appointment.vetId == vet.id and appointment.startDateTime.toLocalTime().toString() == hour}">
          <div th:if="${appointment.isActive == 0}" style="background-color:red" th:attr="colspan=${appointment.colspan}">
            <span th:text="${appointment.animalName}"></span>
          </div>
          <div th:if="${appointment.isActive == 1}" style="background-color:green">
            <span th:text="${appointment.animalName}"></span>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>





<div th:replace="fragments/footer :: footer"></div>
<script src="/js/listOfAppointments.js"></script>
</body>
</html>
